<app-carousel></app-carousel>
<app-rate></app-rate>
<app-epilation-rate></app-epilation-rate>
<app-face-care></app-face-care>
<app-body-care></app-body-care>
<app-manucure></app-manucure>
<app-contact></app-contact>
<app-footer></app-footer>

<go-top-button [html]="'<i class=\'fa fa-arrow-up\'></i>'" [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="300"
  [styles]="{
                    'border-radius': '20px 20px 20px 20px',
                    'right': '40px',
                    'color': '#60472e',
                    'line-height': '20px',
                     'top': '90%',
                     'bottom': '5%'
                 }">
</go-top-button>