	.round {
		.col-lg-4 {   
			  margin-bottom: 1.5rem; 
			  text-align: center;    
			  p { 
				  margin-right: .75rem;  
				  margin-left: .75rem;  
				}  
			.imageBlock {
				margin-top: 1.55rem;
				margin-bottom: 1.85rem;
			}                      
		}                         
		h2 {          
		  font-weight: normal;   
		}                        
	}