<section id="manucure">
	<div class="container">
		<hr>
		<h2>{{ titleManucure }}</h2>
		<p class="bold">Découvrer mes formules Soins Visage</p>
		<p class="justify">
			Ils sont tous destinés à préserver la propreté du visage (nettoyage par un pain dermatologique, un lait de toilette ou une
			émulsion nettoyante, gommage), à l'embellir (maquillage, épilation), le raffermir (tonique, massage), le tonifier ou le
			régénérer (masque, peeling).
		</p>
		<app-post [soins]="manucures"></app-post>
		<div style="text-align: center">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/UTe9yoglChA" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</section>