<section id="epilation">
	<div class="container">
		<hr>
		<h2>{{ title }}</h2>

		<div class="alert alert-danger center" role="alert">
			<strong>10 %</strong> de réduction à partir de 3 zones d'épilation.
		</div>

		<p class="justify">
			Les épilations sont réalisées à la cire tiède jetable à usage unique pour les zones sensibles telles que le visage, les aisselles et le maillot et à la cire tiède avec bandes à usage unique pour les jambes et les bras.  
		</p>
		<img src="assets/epilation.jpg" alt="partenaire-epilation" class="img-thumbnail">

		<a href="#rate-epilation">
			<button type="button" class="btn btn-danger cursor">Tarifs épilation</button>
		</a>
	</div>
</section>