<section id="epilation">
	<div class="container">
		<hr>
		<h2>{{ title }}</h2>
		<p class="bold">Découvrer mes formules epilation à la cire</p>
		<p class="justify">
			Formulée à base de résine, 
			la cire est une méthode efficace.  
			Elle s’utilise chaude, avec bandes. 
			L’avantage de cette méthode est le temps de repousse du poil qui est assez long (3 semaines environ) 
			du fait que le bulbe soit enlevé lors de l’épilation. 
			Assez facile à manier avec l’habitude.
		</p>
	</div>
</section>